/* Styles to cascade down */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* https://stackoverflow.com/questions/49701408/css-grid-auto-height-rows-sizing-to-content/49701488 */

body {
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

nav#fixed-top-nav {
  background-color: #fff;
  /* z-index: 2; */
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  height: 6vh;
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 20% 65% 15%;
  border-bottom: 1px solid silver;
}

/* nav bar icon svg sizes */
#menu-hamburger-icon {
  width: 1em;
  height: 1em;
  margin: 0 1em;
}

#search {
  width: 1em;
}

#new-york-times-heading {
  width: 14em;
  height: 2em;
}

/* Aligning nav bar within items */
.nav-first {
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-end {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.user-buttons button {
  background-color: #567b95;
  color: white;
  width: 100%;
  height: 120%;
  margin: 0 0.2em;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.7em;
  border-radius: 4%;
  font-weight: 900;
  border: 1px solid #326891;
  overflow: hidden;
}

#subscribe {
  flex: 2 1 65%;
}

#log-in {
  flex: 1 1 35%;
}

#space-cosmos {
  font-weight: 900;
}

#facebook {
  width: 7px;
  height: 15px;
}

#whatsapp {
  width: 17px;
  height: 17px;
}

#twitter {
  width: 13px;
  height: 10px;
}

#email {
  width: 15px;
  height: 9px;
}

#forward {
  width: 16px;
  height: 20px;
}

#bookmark {
  width: 16px;
  height: 25px;
}

/* Main Heading Style */
header {
  display: grid;
  justify-content: center;
  max-height: 100%;
  grid-template-columns: 12.5% 75% 12.5%;
  grid-auto-rows: minmax(min-content, max-content);
}

#heading-and-social-network {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 5rem;
}

#heading-and-social-network > h1 {
  font-size: 2rem;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  line-height: 4rem;
  font-style: italic;
  margin: auto;
}

#social-media {
  margin-top: 2rem;
}

#social-media ul {
  display: flex;
}

#social-media li.grey-background {
  padding: 1rem;
  width: 4rem;
  background-image: url("./assets/svg/Circle_Grey_Solid.svg");
  background-size: cover;
}

#main-heading-figure {
  grid-column: 2/3;
  grid-row: 2/3;
}

#main-heading-figure img {
  max-width: 100%;
}

/* Main article styling */
main {
  display: grid;
  grid-template-columns: 25% 50% 1fr 2fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
}

#main-article {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column: 2/3;
}

#main-article p {
  width: 70%;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.9rem;
}

/* Main article aside */
#main-article-aside {
  grid-column: 4/5;
}

#main-article-aside article {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 30% 70%;
  grid-template-rows: minmax(min-content, max-content);
}

#main-article-aside img {
  max-width: 100%;
}

#main-article-aside p {
  margin: 1rem;
}

/* Other suggested articles styling */
#other-articles-section {
  background-color: yellow;
  display: grid;
  grid-template-columns: 12.5% 52.5% 22.5% 12.5%;
  grid-template-rows: minmax(min-content, max-content);
}

#other-articles-section article {
  background-color: blue;
  margin: 1rem;
}

#suggested-articles {
  grid-column: 2/3;
  display: grid;
}

#other-articles-section-aside {
  background-color: red;
  grid-column: 3/4;
  grid-row: 1/4;
}

/* Styling the other articles */
#newsletter {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* styling the newsletter articles */
#newsletter article {
  padding: 2rem;
  display: grid;
  grid-template-rows: 5% 30% 30% 35%;
  grid-template-columns: 5% 30% 45% 13% 7%;
}

#newsletter article img {
  grid-column: 2/3;
  grid-row: 2/3;
}

#newsletter .newsletter-text-container {
  grid-row: 3/4;
  grid-column: 2/7;
  display: grid;
  flex-direction: column;
}

.more-articles {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.editor-pick-articles {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Footer styling */
footer {
  margin-top: 5rem;
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-columns: 12.5% 5fr 1fr 12.5%;
}

#footer-articles {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#footer-aside {
  grid-column: 3/4;
}

.footer-article-sub-section {
  display: flex;
  flex-direction: column;
}
