/* header styling */
#menu-hamburger-icon {
  width: 16px;
  height: 16px;
}

#search {
  height: 16px;
  width: 16px;
  margin-left: 20px;
}

#new-york-times-heading {
  width: 184px;
  height: 25px;
}

#space-cosmos {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#facebook {
  width: 7px;
  height: 15px;
}

#whatsapp {
  width: 17px;
  height: 17px;
}

#twitter {
  width: 13px;
  height: 10px;
}

#email {
  width: 15px;
  height: 9px;
}

#forward {
  width: 16px;
  height: 3%;
}

#bookmark {
  width: 16px;
  height: 25px;
}

.user-buttons button {
  background-color: #567b95;
  color: white;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #326891;
}

figure img {
  width: 1200px;
}
