/* Styles to cascade down */

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

/* fixed navbar */

nav#fixed-top-nav {
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #ccc;
}

.nav-first li {
  margin-right: 20px;
}

.nav-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-hamburger-icon {
  width: 16px;
  height: 16px;
}

#search {
  height: 16px;
  width: 16px;
}

#new-york-times-heading {
  width: 183px;
  height: 24px;
  font-family: helvetica, arial, sans-serif;
}

#space-cosmos {
  font-weight: bold;
  text-decoration: none;
  color: black;
  justify-self: flex-start;
}

.user-buttons button {
  background-color: #567b95;
  color: white;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5%;
  font-weight: bold;
  border: 1px solid #326891;
}

/* Header styling */

header > h1 {
  font-family: georgia, "times new roman", times, serif;
  font-size: 40px;
  font-style: italic;
  width: 600px;
  font-weight: 700;
}

.main-heading-figure {
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading-figure img {
  max-width: 100%;
  flex-basis: 50%;
  flex-grow: 0;
}

nav.social-media {
  display: flex;
}

nav.social-media ul {
  display: flex;
}

nav.social-media ul li {
  border-radius: 50%;
  background-color: #eee;
  padding: 0 15px;
  flex-basis: 5%;
  margin: 10px;
}

nav.social-media ul li a img {
  position: relative;
  top: 20%;
  left: 25%;
  transform: scale(0.8);
}

#facebook {
  width: 7px;
  height: 15px;
}

#whatsapp {
  width: 17px;
  height: 17px;
}

#twitter {
  width: 13px;
  height: 10px;
}

#email {
  width: 15px;
  height: 9px;
}

#forward {
  width: 16px;
  height: 3%;
}

#bookmark {
  width: 16px;
  height: 25px;
}

main {
  position: relative;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article p {
  width: 40%;
  font-family: georgia, "times new roman", times, serif;
  line-height: 30px;
  color: #333;
}

/* suggested articles stying */
.newsletter img {
  height: 100px;
  width: 100px;
}

.other-articles-section aside {
  font-size: 20px;
  line-height: 30px;
  color: black;
  font-weight: 500;
  grid-column: 3/4;
}

.other-articles-section aside article {
  border-top: 1px solid gainsboro;
  margin: 15px 0 15px 0;
}

/* footer styles */
footer {
  display: grid;
  display: flex;
}

footer a {
  font-size: 14px;
}

.footer-articles {
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
}

.article-sub-section-footer {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

footer aside {
  display: flex;
  flex-direction: column;
}
